.change-password {
    color: var(--color-text);

    .change-password-title {
        font-size: var(--font-xl-2);
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .change-password-subtitle {
        text-align: center;
        margin-bottom: 40px;
    }

    .form-change-password {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 1024px) {
        .form-change-password {
            width: 80%;
        }
    }

    @media screen and (max-width: 768px) {
        .change-password-title {
            font-size: var(--font-md-1);
        }
        .change-password-subtitle {
            font-size: var(--font-sm-4);
        }
        .form-change-password {
            width: 100%;
        }
    }
}