.common-input-group {
    min-height: 50px;
    width: 100%;
    background-color: var(--color-background-input);
    display: flex;
    align-items: center;
    padding-left: 22px;

    .common-input {
        flex: 1 1 auto;
        outline: none;
        font-size: var(--font-sm-2);
        font-weight: 400;
        line-height: 20px;
        color: var(--color-primary-dark);
        
        &::placeholder {
            color: var(--gray-400);
        }
    }

    .common-input-icon {
        width: 27px;
        height: 27px;
    }
}

