.profile {
    background-color: var(--color-background);
    color: var(--color-text);

    .profile-edit-image {
        position: relative;
        background-image: var(--color-background-eighth);
        height: 380px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        z-index: 2;

        .edit-avatar {
            position: absolute;
            bottom: -28px;
            display: flex;
            align-items: end;
            width: 216px;
            height: 216px;
            border: 8px solid #fff;
            border-radius: 50%;
            overflow: hidden;
            z-index: 2;

            img {
                width: 100%;
            }

            .img-box {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                }
            }

            .intersect {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                background-color: var(--color-primary-dark);
                width: 100%;
                height: 52px;
                opacity: 0.5;
                color: var(--color-primary-light);
                text-align: center;
                cursor: pointer;
            }
        }

        .upload-image {
            position: relative;
            margin-bottom: 24px;
            width: 216px;
            height: 100px;
            background-image: url("/src/assets/images/frame-upload.png");

            .btn-upload {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(162.52deg, #36FDDE -33.13%, #F4FDD0 39.28%, #F7EFC2 68.59%, #FFCEA1 104.14%);
            }
        }
    }

    .tabs-wrapper {
        position: relative;
        z-index: 4;
        padding-bottom: 90px;
        overflow: hidden;
        
        .tabs {
            background-color: var(--color-background);
            color: var(--color-text);

            .tab-list {
                color: var(--gray-400);

                .tab-item {
                    .tab-item-text {
                        font-size: var(--font-xl-2);
                    }
                }
            }

            .tab-content {
                background: var(--color-background-profile);
                border: 1px solid var(--color-border-profile);
                padding: 40px 60px 60px;
            }
        }
    }

    @media screen and (max-width: 961px) {
        .profile-edit-image {
            height: 200px;
        }
    }

    @media screen and (max-width: 767px) {
        .profile-edit-image {
            padding: 0 16px;
            
            .edit-avatar {
                width: 150px;
                height: 150px;
            }
    
            .upload-image {
                background-image: url("");
                margin: 0;

                .btn-upload {
                    left: 90%;
                }
            }
        }

        .tabs-wrapper {
            .tabs {
                .tab-list {
                    .tab-item {
                        .tab-item-text {
                            font-size: 20px;
                        }
                    }
                }
    
                .tab-content {
                    padding: 20px;
                }
            }
        }

    }
}