.home-community {
    background-color: var(--color-background);
    font-family: var(--font-secondary);
    max-width: 1416px;
    margin-left: auto;
    margin-right: auto;
    padding: 131px 0px;

    .community-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 115px;
    }

    .community-button {
        font-size: var(--font-sm-2);
        font-weight: 700;
        line-height: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .home-community {
        .community-container {
            align-items: center;
            gap: 115px;
        }
    }
}

@media screen and (max-width: 768px) {
    .home-community {
        margin-top: 50px;
        padding: 31px;

            .commuity-img {
                width: 65%;
            }
    }
}

@media screen and (max-width: 480px) {
    .home-community {
        margin-top: 0;
    }
}