.slider-article {
  font-family: var(--font-secondary);

  .swiper-container {
    position: relative;
    height: 376px;
  }

  .swiper-slide {
    transition: all .3s ease;
    height: 100%;
  }

  .button-prev,
  .button-next {
    width: 40px;
    height: 60px;
    padding: 0;
    border: 0;
    background-color: var(--color-primary-light);
    cursor: pointer;

    .icon {
      color: var(--color-primary-dark);
      font-size: var(--font-sm-4);
    }

    &:hover {
      background-color: var(--color-primary-dark);

      .icon {
        color: var(--color-primary-light);
      }
    }
  }

  .button-prev {
    @include button-navigation(left, 42%, 252px);
  }

  .button-next {
    @include button-navigation(right, 42%, 252px);
  }

  .scrollbar-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0px;
  }

  .scrollbar {
    background-color: #E2E5E8;
    opacity: 1 !important;
    height: 4px;
    width: 400px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border: 1px solid var(--color-border-article); 
    border-bottom: 2px solid var(--color-border-article-bottom);
    height: 330px;
  }

  .card-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-slider-article);
  }

  .card-img {
    min-height: 228px;
    max-height: 228px;
    flex-shrink: 0;
    z-index: 2;
  }

  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 224px;
    padding: 16px 26px 16px 24px;
    z-index: 1;
  }

  .card-title {
    padding: 0;
    font-size: var(--font-sm-2);
    font-weight: 700;
    line-height: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .text-title {
    color: var(--color-text)
  }

  .card-subtitle {
    margin-top: auto;
    padding: 0;
    font-size: var(--font-sm-4);
    font-weight: 600;
    line-height: 17.5px;
  }

  .sub-title {
    color: var(--color-gray-7)
  }
}

@media screen and (max-width: 1024px) {
  .slider-article {
    .button-prev {
      left: 80px;
    }
    .button-next {
      right: 80px;
    }
  }
}
@media screen and (max-width: 768px) {
  .slider-article {
    .swiper-container {
      height: unset;
    }
    .scrollbar-container {
      display: none;
    }
    .card-container {
      height: 300px;
    }
    .card-img {
      min-height: 200px;
      max-height: 200px;
    }
    .card-content {
      padding: 16px 26px 16px 24px;
    }
    .card-title {
      font-size: var(--font-sm-4);
    }
    .card-subtitle {
      font-size: var(--font-xs)
    }
    .button-prev,
    .button-next {
      width: 30px;
      height: 40px;
    }
  }
}
@media screen and (max-width: 480px) {
  .slider-article {
    
    .button-prev,
    .button-next {
      display: none;
    }

    .card-container {
      height: 280px;
    }

    .card-title {
    font-size: var(--font-xs);
    }
  }
}